<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Parts of Speech Filter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Section 1</string>
			<key>Key</key>
			<string>filter1</string>
			<key>DefaultValue</key>
			<string>n.</string>
			<key>Values</key>
			<array>
				<string>adj.</string>
				<string>adp.</string>
				<string>adv.</string>
				<string>conj.</string>
				<string>dem.</string>
				<string>inter.</string>
				<string>intj.</string>
				<string>n.</string>
				<string>num.</string>
				<string>part.</string>
				<string>phrase</string>
				<string>pn.</string>
				<string>prefix</string>
				<string>root</string>
				<string>v.</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Adjectives</string>
				<string>Adpositions</string>
				<string>Adverbs</string>
				<string>Conjunctions</string>
				<string>Demostratives</string>
				<string>Interogatives</string>
				<string>Interjections</string>
				<string>Nouns</string>
				<string>Numbers</string>
				<string>Participles</string>
				<string>Phrases</string>
				<string>Pronouns</string>
				<string>Prefixes</string>
				<string>Roots</string>
				<string>Verbs</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Section 2</string>
			<key>Key</key>
			<string>filter2</string>
			<key>DefaultValue</key>
			<string>pn.</string>
			<key>Values</key>
			<array>
				<string>adj.</string>
				<string>adp.</string>
				<string>adv.</string>
				<string>conj.</string>
				<string>dem.</string>
				<string>inter.</string>
				<string>intj.</string>
				<string>n.</string>
				<string>num.</string>
				<string>part.</string>
				<string>phrase</string>
				<string>pn.</string>
				<string>prefix</string>
				<string>root</string>
				<string>v.</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Adjectives</string>
				<string>Adpositions</string>
				<string>Adverbs</string>
				<string>Conjunctions</string>
				<string>Demostratives</string>
				<string>Interogatives</string>
				<string>Interjections</string>
				<string>Nouns</string>
				<string>Numbers</string>
				<string>Participles</string>
				<string>Phrases</string>
				<string>Pronouns</string>
				<string>Prefixes</string>
				<string>Roots</string>
				<string>Verbs</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Section 3</string>
			<key>Key</key>
			<string>filter3</string>
			<key>DefaultValue</key>
			<string>v.</string>
			<key>Values</key>
			<array>
				<string>adj.</string>
				<string>adp.</string>
				<string>adv.</string>
				<string>conj.</string>
				<string>dem.</string>
				<string>inter.</string>
				<string>intj.</string>
				<string>n.</string>
				<string>num.</string>
				<string>part.</string>
				<string>phrase</string>
				<string>pn.</string>
				<string>prefix</string>
				<string>root</string>
				<string>v.</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Adjectives</string>
				<string>Adpositions</string>
				<string>Adverbs</string>
				<string>Conjunctions</string>
				<string>Demostratives</string>
				<string>Interogatives</string>
				<string>Interjections</string>
				<string>Nouns</string>
				<string>Numbers</string>
				<string>Participles</string>
				<string>Phrases</string>
				<string>Pronouns</string>
				<string>Prefixes</string>
				<string>Roots</string>
				<string>Verbs</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Section 4</string>
			<key>Key</key>
			<string>filter4</string>
			<key>DefaultValue</key>
			<string>adj.</string>
			<key>Values</key>
			<array>
				<string>adj.</string>
				<string>adp.</string>
				<string>adv.</string>
				<string>conj.</string>
				<string>dem.</string>
				<string>inter.</string>
				<string>intj.</string>
				<string>n.</string>
				<string>num.</string>
				<string>part.</string>
				<string>phrase</string>
				<string>pn.</string>
				<string>prefix</string>
				<string>root</string>
				<string>v.</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Adjectives</string>
				<string>Adpositions</string>
				<string>Adverbs</string>
				<string>Conjunctions</string>
				<string>Demostratives</string>
				<string>Interogatives</string>
				<string>Interjections</string>
				<string>Nouns</string>
				<string>Numbers</string>
				<string>Participles</string>
				<string>Phrases</string>
				<string>Pronouns</string>
				<string>Prefixes</string>
				<string>Roots</string>
				<string>Verbs</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Section 5</string>
			<key>Key</key>
			<string>filter5</string>
			<key>DefaultValue</key>
			<string>adv.</string>
			<key>Values</key>
			<array>
				<string>adj.</string>
				<string>adp.</string>
				<string>adv.</string>
				<string>conj.</string>
				<string>dem.</string>
				<string>inter.</string>
				<string>intj.</string>
				<string>n.</string>
				<string>num.</string>
				<string>part.</string>
				<string>phrase</string>
				<string>pn.</string>
				<string>prefix</string>
				<string>root</string>
				<string>v.</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Adjectives</string>
				<string>Adpositions</string>
				<string>Adverbs</string>
				<string>Conjunctions</string>
				<string>Demostratives</string>
				<string>Interogatives</string>
				<string>Interjections</string>
				<string>Nouns</string>
				<string>Numbers</string>
				<string>Participles</string>
				<string>Phrases</string>
				<string>Pronouns</string>
				<string>Prefixes</string>
				<string>Roots</string>
				<string>Verbs</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
